.bg-orange-degrate{
    bottom: -75%;
    transform: rotate(39deg);
    left: -50%;
    background: linear-gradient(0deg,#ffdb00,#ff5b00);
    height: 100%;
    overflow: hidden;
    position: absolute;
    transform-origin: center center;
    width: 150%;
}
.cont-app{
    padding-left: 0px;
    overflow: hidden;
}
.container-contato{
    position: absolute;
    margin-top: 10%;
}
.title-contato
{
    font-size: 80px;
}

@media (max-width: 992px) { 
    .title-contato
    {
        font-size: 35px;
    }
    #contato{
        margin-top: 10%;
    }
    
}
