<div class="container-fluid container-app" id="contato">
    <div class="row container-app">
        <div class="col-lg-9 container-app cont-app">
            <div class="bg-orange-degrate">
            </div>
        </div>
        <div class="container-contato container">
            <div class="row">
                <div class="col-lg-11 offset-sm-2">
                    <h1 class="text-orange title-contato" i18n="contact">CONTATO</h1>
                </div>
                <br><br>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-sm-3">
                    <h4 class="text-orange">BRASILIA/DF</h4>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-10 offset-sm-3">
                    SAUS, Quadra 5 | Bloco N | Lote 2 | 10.º andar <br>
                    Tel: +55 (61) 3208-1155
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-9 offset-sm-4">
                    <h4 class="text-orange">SÃO PAULO/SP</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 offset-sm-4">
                    Rua Estados Unidos 367, Jardim Paulista <br>
                    Tel: +55 (11) 2050-2410
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-sm-5">
                    <ul class="nav nav-rede-social">
                        <li>
                             <span class="fa-stack fa-sm">
                                 <i class="fa fa-circle fa-stack-2x text-orange  "></i>
                                 <i class="fa-facebook fa fa-stack-1x text-white"></i>
                             </span>
                        </li>
                        <li>
                             <span class="fa-stack fa-sm">
                                 <i class="fa fa-circle fa-stack-2x  text-orange"></i>
                                 <i class="fa-twitter fa fa-stack-1x text-white "></i>
                             </span>
                        </li>
                        <li>
                             <span class="fa-stack fa-sm">
                                 <i class="fa fa-circle fa-stack-2x  text-orange"></i>
                                 <i class="fa-linkedin fa fa-stack-1x text-white"></i>
                             </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>